@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Slab''Nunito Sans', sans-serif;
    
}
.search-users-input:focus{
    box-shadow: 0 0 5pt 1pt blue;
}
.search-users{
    margin-top: 100px;
    
    width: 100%; display: flex;
    align-items: center;
    
}
.admin-search-users-input:focus{
    box-shadow: 0 0 5pt 1pt blue;
}
.admin-search-users{
    margin-top: 10px;
    
    width: 100%; display: flex;
    align-items: center;
    
}
.search-product{
    width: 94% !important;
    align-self: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    
    /* margin-right: auto !important; */
    /* margin-left: auto !important; */
}
.form-search-product{
    justify-content: center !important;
    align-items: center;
    width: 70%;
    margin-right: auto !important;
    margin-left:auto !important;
}
.dropdown-toggle::after {
    display:none !important;
}
.navbar-big{
    display: block !important;
}
.navbar-small{
    display: none !important;
}

.cart-shopping-container {
    font-size: 35px;
    font-weight:600;
}
body {
    
    background-color: #f8f9fa;
    
}
.link-hover:active{
    color: blue !important;
}
.link-hover:hover{
    color: blue !important;
}
.link-hover-red:hover{
    color: red !important;
}
.nav-logo {
  /* border: 1px solid black; */
  width: 60px;
  height: 60px;
 
}

.content {
    display:block;
    
    width: 100%;
    height: 90vh;
}

.log-in {
    display: flex;
    flex-direction: column;
    background-color: white;
    float: right;
    width: 28%;
    max-width: 500px;
    min-height: 430px;
    max-height: 450px;
    box-shadow: 0px 0px 8px 0px #888888;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 12%;
    margin-right: 10%;
}
.register {
    
    display: flex;
    flex-direction: column;
    background-color: white;
    float: right;
    width: 29%;
    max-width: 500px;
    min-height: 430px;
    max-height: 750px;
    box-shadow: 0px 6px 6px #888888;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    margin-right: 10%;
}

.login-form {
    margin-top: 40px;
    width: 90%;
    max-width: 500px;
    min-height: 330px;
    max-height: 450px;
    background-color: rgb(235, 246, 247);
    display: block;
    border-radius: 7px;
    box-shadow: 0px 0px 20px 10px rgba(209, 202, 202, 0.829);
overflow-y:auto;
}

/* login */

.logo {
    align-items: center;
    justify-content: center;
    float: left;
    margin-top: 15%;
    margin-left: 10%;
    font-size: 25px;
    height: 500px;
    width: 500px;
    
    
}

.logo h1 {
    color: blue;
    margin-bottom: 10%;
    text-shadow: 4px 2px 10px #b1a5f5;

}

.login-container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-title {
    margin-top: 20px;
    text-align: center;
}

.signup-form {
    
    width: 90%;
    max-width: 500px;
    min-height: 470px;
    max-height: 95%;
    background-color: rgb(235, 246, 247);
    display: block;
    border-radius: 7px;
    box-shadow: 0px 0px 20px 10px rgba(209, 202, 202, 0.829);
    
}
.login-form center h2 {
    margin-top: 20px;
}
.login-form form {
    margin-top: 10px;
}
.login-form p, .sign-up-form p {
    margin-left: 5%;
}
.username-field{
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    
}
.input-field, .label-field {
    font-size: 18px;
    width: 90%;
    outline: none;
    border: none;
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    
}
.username-signup-field{
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    
}
.input-signup-field, .label-signup-field {
    font-size: 16px;
    width: 95%;
    outline: none;
    border: none;
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    
}

.label-signup-field{
    font-weight: bold;
    margin-bottom: -5px;
}

.input-signup-field {
    margin-top: -5px;
    font-weight:lighter;
    border-bottom: 2px solid #3c5393;
}

.label-field{
    font-weight: bold;
    margin-bottom: -5px;
}
.input-field {
    margin-top: -5px;
    font-weight:lighter;
    border-bottom: 2px solid #3c5393;
}
.btn-sign-in {
    width:90%;
    height:50px;
    background-color: #3746EC;
    border: none;
    border-radius: 7px;
    font-weight:bold;
    font-size:large;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-size: 20px;
}
.btn-sign-in:hover {
    background-color: #3c5393;
    cursor: pointer;
}
.btn-sign-in:active {
    background-color: #3c5393;
}

.login_error {
    background-color: #ffebe8;
    border: 1px solid rgb(219, 84, 84);
    display: flex;
    width: 90%;
    height: 50px;
    text-align: center;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 15px;
    display: none;
}
.register_error {
    background-color: #ffebe8;
    border: 1px solid rgb(219, 84, 84);
    display: flex;
    width: 90%;
    height: 50px;
    text-align: center;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 12px;
    display: none;
}

.logo_login{
  width: 400px;
  height: 200px;
}
/* users */
.admin-users-page {
    margin-top: 20px;
    width: 100% !important;
    
    /* overflow-y: auto; */
}

.user-product-heading{
    margin-top: 200px !important;
}

/* Product Card */

.product-container {
  margin: auto;
  /* border: 1px solid black; */
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  /* height: 100%; */
  /* align-items: center; */
  justify-content: center;
  /* overflow: auto; */
}

.product-card {
  box-shadow: 0px 8px 8px 2px rgba(181, 175, 175, 0.829);
  border:0px !important;
  width: 17rem !important;
  height: 24rem !important;
  margin: 20px 3px !important;
  margin-top: 10px;
  padding: 0;
}
.product-card:hover {
    box-shadow: 0px 10px 20px 2px rgba(181, 175, 175, 0.829);
    /* width: 18rem !important; */
    /* height: 24.5rem !important; */
    margin-top: 12px !important;
}


/* Navbar page */

.navbarvbnm {
  box-shadow: 0px 2px 10px 0px gray;

  /* margin-left: auto !important; */
  /* 
  justify-content: center;
  height: 80px;
  
  
  top: 0 !important;
  background-color: #3c5393 !important; */

}


.btn-login-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 170px;
	border-radius: 30px;
	border: none;
	/* box-shadow: 0px 20px 40px -13px blue; */

	background-color: #3746EC ;
	color: white;
    margin-right: 20px;	
}

.btn-login-nav:hover {

	
	
  width: 169px;
	border: 1px solid blue;
	background: white;
  font-weight: bold;
	
	/* background-color: blue; */
	color: var(--blue);

}


/* Account */

/* Admin Porducts */

.accordion-button {
    width: auto !important;
    display: inline-block !important;
    box-shadow: none !important;
    background-color: white !important;
    outline: none;
    font-size: 18px !important;
    font-weight: bold;
  }
  
  .accordion-button:focus {
    box-shadow: none;
  }
  
  .accordion-button:not(.collapsed) {
    color: #212529;
  }

  .errorMessage-container {
    background-color: #ffebe8;
    border: 1px solid rgb(219, 84, 84);
    display: flex;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    display: none;
}
.admin-order-page {
    margin-left: auto;
    margin-right: auto;
}

/* cart */
.cart-quantity-component {
    width: 100%;
    
}
.cart-input-quantity {
    width: 40px;
    text-align: center;
    border-left: 0;
    border-right: 0;
    border-color: gray;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: thin;
    font-size: 20px;
    
}
.cart-btn-ctr{
    width: 35px;
    border-color: gray;
    border-style: solid;
    border-width: thin;
    font-weight: bold;
    font-size: 20px;
}
.cart-btn-ctr:active{
    background-color: gray;
}

.remove-item:hover {
    cursor:pointer;
    color: rgb(167, 12, 12);
}

/* Chatbox */

.chat-btn {
    position: fixed;
    right: 50px;
    bottom: 20px;
    cursor: pointer;
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.3s;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.chat-btn:hover {
    opacity: 1;
    box-shadow: 0 0 10px 5px black;
}
.chat-popup {
    /* justify-content: center;
    align-items: center; */
    position: fixed;
    bottom: 50px;
    right: 100px;
    height: 400px;
    width: 350px;
    background-color: rgb(251, 243, 243);
    z-index: 2;
    display: flex;
    flex-direction: column;
    border-radius: 25px 25px 5px 25px;
    box-shadow: 4px 4px 10px gray;
    border-left: 1px solid gray;
    overflow-y: hidden;
    /* overflow-y: scroll; */
    /* display: none; */
}


.chat-area {
    /* border: 1px solid green; */
    max-height: 75%;
    
    width: 100%;
    overflow-y: scroll;
}

.input-area {
    max-height: 40%;
    min-height: 10%;
    /* border: 1px solid red; */
    height: 25%;
    width: 100%;
    display: block;
    background-color: white;

}

.textarea[contenteditable]:empty::before {
    content: "Send message here";
    color: gray;
}
.textarea {
    display: block;
    width: 79%;
    margin-left: 1%;
    overflow: hidden;
    resize: none;
    max-height: 100px;
    min-height: 40px;
    line-height: 20px;
    float: left;
    overflow-y: auto;
    position: absolute;
    bottom: 10px;
    outline:1px solid gray;
    border-radius: 10px;
    cursor: text;
    background-color: white;
}

.textarea:focus {
    outline: none;
    border-color:gray ;
    box-shadow: 0px 0px 8px 0px gray;
}
.textarea {
    /* border: 1px solid #ccc; */
    font-family: inherit;
    font-size: inherit;
    padding: 9px 6px;
}

.send-btn {
    margin-right: 1%;
    width: 18%;
    height: 10%;
    float: right;
    position: absolute;
    bottom: 10px;
    right: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px gray;
    border: 0;
    background-color: #3746EC;
    color: white;
    
    
}
.send-btn:active {
    background-color: blue;
}
.send-btn:hover {
    border: 1px solid blue;
    background-color: white;
    color: black;
    font-weight: bold;
}

.incoming-message {
    padding: 10px;
    margin-bottom: 50px;
}
#home-container {
    /* border: 1px solid green !important; */
    margin-top: 100px !important;
}

@media screen and (max-width:412px) {
	*{
		font-size: 10px;
	}
    /* .big-screen-cart{
        display: none !important;
    }
    .small-screen-cart{
        display: block !important;
    } */
    .link-hover{
        font-size: 12px !important;
    }
    link-hover-red{
        font-size: 12px !important;
    }
    
    .cart-row {
        margin-top: 20px !important;
        height: 120px !important;
    }
    .cart-shopping-container {
        /* padding-top: 9 rem !important; */
        height: 100px !important;
        margin-top: 6px !important;
        font-size: 18px;
    }
    

    .chat-popup {
        bottom: 75px;
        right: 22px;
        border-radius: 25px 25px 25px 25px;
    }

    .sign-up-btn{
        margin-bottom: 10px !important;
        margin-top: 5px !important;
    }
    .admin-product-accordion{
        /* height: 100px !important; */
        font-size: 18px !important;
    }
    .admin-product-table {
        font-size: 8px !important;
    }
    
    .admin-product-operation{
        width:60% !important;
        font-size: 8px !important;
    }
    #home-container{
        margin-top: 50px !important;
        /* padding-top: 0 !important; */
        width: 100% !important;
        display: block !important;
        height: 100% !important;
        width: 100%;
        /* margin-left: auto !important;
        margin-right: auto !important; */
    }
    .admin-usercard-page {
        /* font-size: 1px !important; */
        /* border: 1px solid green; */
    }
    .home-banner-img-1{
        width: 100px !important;
    }
    .home-banner-mini{
        /* border: 1px solid green;
        width: 10% !important; */
        /* height: 50% !important;
        width: 100px !important; */
    }
    .divider-mini-banner{
        height: 5%;
    }
    #home-banner-mini{
        /* margin-top: 12px; */
        /* border: 1px solid blue; */
    }
    .home-banner-img{
        width: 100% !important;
        /* margin-left: auto !important; */
        /* margin-right: auto !important; */
    }
    .img-home-banner{
        margin-top: 150px !important;
        height: 70% !important;
    }

    .admin-users-page {
        margin-top: 15px !important;
        /* width: 390px; */
        /* font-size: 14px !important; */
    }
    .admin-order-page{
        margin-top: 0 !important;
        overflow-y: auto;
        width: 100% !important;
        padding-top: 1px !important;
    }
    .content{
        display: flex;
        flex-direction: column;
        width:100%;
        /* border: 1px solid green !important; */
       
    }
    .log-in{
        box-shadow: 0px 0px 0px 0px #888888;
        margin-top: 6% !important;
        height: 100px !important;
    }
    .register{
        margin-top: 10px;
        width: 390px !important;
        
        /* border: 1px solid red; */
    }app-con
    .tainer {
        /* margin-top: 100px !important; */
        display: flex ;
        flex-direction: column ;
        /* justify-content: center ; */
        align-items: center ;
        /* border: 1px solid green; */
        width: 100%;
    }

    #main-navbar{
        /* display: none; */
        /* font-size: 4px !important; */
    }
   

    

    #home-container > .row {
        display: block !important;
        width: 100%;
    }

    #home-container > .row > div {
        width: 100% !important;
    }
    #home-container > .row + .row {
        height: 50% !important;
    }
    
    .nav-logo {
        /* border: 1px solid black; */
        width: 30px;
        height: 30px;
       
      }
    .logo_login{
    width: 300px;
    height: 150px;
    
    }
    
    .logo {
        margin-bottom: 10px;
        margin-top: 10%;
        margin-left: 10%;
        /* font-size: 20px; */
        height: 200px;
        width: 350px;
    }

    .product-card {
        /* box-shadow: 0px 10px 10px 2px rgba(181, 175, 175, 0.829); */
        /* border:0px !important; */
        width: 25rem !important;
        height: 25rem !important;
        margin: 20px 3px !important;
        padding: 0;
      }
    .details{
        display: none;
    }
    .product-container {
        margin-top: 90px !important;
        width: 100%;
        /* padding-top: 0; */
    }
    .search-product{
        height: 100% !important;
        color: blue !important;
        /* margin-left: auto !important;
        margin-right: auto !important; */
        width: 96% !important;
        /* padding-right: 0; */
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }
    .admin-product-table-heading{
        height:60px !important;
    }
    .username-field{
        margin-top: 5px;
  
    }
    .input-field, .label-field {
        font-size: 14px;
        width:100%;
        /* outline: none;
        border: none; */
       
        padding: 5px;
        border-radius: 5px;
    }
    .product-view-card{

        width: 90% !important;
    }
    .home-banner {
        margin-left: auto !important;
        margin-right: auto !important;
        
    }
    .btn-login-nav {
        height: 27px !important;
        width: 100px !important;
        margin-right: 20px;	
    }
    
    .btn-login-nav:hover {
      width: 99px !important;
    }
}

@media only screen and (max-width: 860px) {
    .search-product{
        height: 100% !important;
        width: 92% !important;
        /* padding-right: 0; */
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }
    .btn-login-nav {
        height: 35px;
        width: 150px;
        margin-right: 20px;	
    }
    
    .btn-login-nav:hover {
      width: 149px;
    }
    .cart-shopping-container {
        /* padding-top: 9 rem !important; */
        
        margin-top: 6px !important;
        
    }
    .cart-row h1 {
        padding-top: 122px !important;
    }
    .affordable {
        font-size: 18px !important;
        /* height: 20%; */
        align-self: center;
    }
    .home-banner-img-1{
        width: 50px !important;
        /* height: 40%; */
        align-self: center;
    }
    .home-banner-img-2{
        width: 50px !important;
        align-self: center;
        /* height: 40%; */
    }
    .admin-usercard-page {
        font-size: 16px !important;
        /* width: 300px !important; */
    }
    .navbar-big{
        display: none !important;
    }
    .navbar-small{
        display: block !important;
    }
    .home-banner-mini{
        /* display: flex;
        flex-direction: column; */
        height: 50% !important;
        /* width: 2%; */
    }
    
    #home-banner-mini{
        /* margin-top: 12px; */
        /* border: 1px solid blue; */
    }
    .home-banner-img{
        /* width: 170px !important; */
    }
    .home-banner{
        margin-top: 0px !important;
        margin-top: 20px !important;
        padding-bottom: 5px;
    }
    #home-container {
        /* border: 1px solid green !important; */
        /* margin-top: 100px !important; */
    }
    .admin-users-page {
        margin-top: 20px;
        width: 100% !important;
        /* font-size: 14px !important; */
    }

    .admin-order-page{
        padding-top: 150px !important;
        overflow-y: auto;
    }
    .product-view-card{
        margin-top: 35% !important;
    }
    .product-container {
       
        margin-top: 100px;
      }
    
    .username-signup-field{
        margin-top: 10px;
  
    }
    .input-signup-field, .label-signup-field {
        font-size: 14px;
        width: 90%;
        /* outline: none;
        border: none; */
        background-color: #FFFFFF;
        padding: 5px;
        border-radius: 5px;
    }
    
    .content {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid green !important; */
        
            
    }

    .logo {
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 25%;
    }

    .log-in {
        margin-top: 10px;
        margin-right: 0;
        display: flex;
    
        width: 375px;
        height: 350px;
     }
     .register {
        
        margin-right: 0;
        display: flex;
        box-shadow: 0px 0px 0px 0px #888888;
        width: 575px;
        height: 350px;
     }
    .nav-cart {
        font-size: 12px !important;
        
    }
    #main-navbar {
        font-size: 16px !important;
        /* display: none; */
    }
    
    
}

@media only screen and (max-width: 768px) {
    .admin-users-page{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    
    .product-view-card{
        margin-top: 25% !important;
    }
    
    .username-signup-field{
        margin-top: 10px;
  
    }
    .input-signup-field, .label-signup-field {
        font-size: 14px;
        width: 90%;
        /* outline: none;
        border: none; */
        background-color: #FFFFFF;
        padding: 5px;
        border-radius: 5px;
    }
    
    .content {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        
            
    }
    .product-container {
       
        margin-top: 100px;
      }

    .logo {
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 20%;
    }
    .logo h1 {
        margin-bottom: 5%;
    }

    .log-in {
        margin-top: 10px;
        margin-right: 0;
        display: flex;
    
        width: 375px;
        height: 350px;
     }
     .register {
        margin-right: 0;
        display: flex;
        box-shadow: 0px 0px 0px 0px #888888;
        width: 675px;
        height: 350px;
     }
    .nav-cart {
        font-size: 12px !important;
        
    }
    #main-navbar {
        font-size: 16px !important;
    }
    
    
}

@media only screen and (max-width: 1167px) {

    .cart-input-quantity {
        width: 35px;
        font-size: 18px;
        
    }
    .cart-btn-ctr{
        width: 30px;
        font-size: 18px;
    }

}

@media only screen and (max-width: 1033px) {

    .cart-input-quantity {
        width: 30px;
        font-size: 16px;
        
    }
    .cart-btn-ctr{
        width: 25px;
        font-size: 16px;
    }

}

@media only screen and (max-width: 900px) {

    .cart-input-quantity {
        width: 45px;
        font-size: 22px;
        
    }
    .cart-btn-ctr{
        width: 40px;
        font-size: 22px;
    }

}

@media screen and (max-width:412px) {
	
    .big-screen-cart{
        display: none !important;
    }
    .small-screen-cart{
        display: block !important;
    }
}